
PlanMyDay/.DS_Store

PlanMyDay/PlanMyDay.xcodeproj/project.xcworkspace/xcuserdata/my_regmail.xcuserdatad/UserInterfaceState.xcuserstate

PlanMyDay/PlanMyDay.xcodeproj/xcuserdata/my_regmail.xcuserdatad/xcschemes/PlanMyDay.xcscheme

PlanMyDay/PlanMyDay.xcodeproj/xcuserdata/my_regmail.xcuserdatad/xcschemes/xcschememanagement.plist

PlanMyDay/PlanMyDay.xcodeproj/xcuserdata/my_regmail.xcuserdatad/xcschemes/xcschememanagement.plist
