<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Settings</key>
	<array>
		<dict>
			<key>name</key>
			<string>Settings</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>iCloud</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Sound</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Notification</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Else</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
