<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Usual Settings</string>
		<key>cells</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>Sound</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>Export</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>Push-notifications</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>iCloud</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
