<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Strawberry</string>
		<key>color</key>
		<string>fc3e39</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Plum</string>
		<key>color</key>
		<string>1e7cf4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cucumber</string>
		<key>color</key>
		<string>53d769</string>
	</dict>
</array>
</plist>
