<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<array>
		<dict>
			<key>name</key>
			<string>Project Info</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Client</string>
					<key>clear</key>
					<array>
						<string>Task</string>
						<string>Project</string>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Project</string>
					<key>clear</key>
					<array>
						<string>Task</string>
					</array>
					<key>change</key>
					<array>
						<string>Client</string>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Task</string>
					<key>change</key>
					<array>
						<string>Project</string>
						<string>Client</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Planning Time</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>Start</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>End</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Settings</key>
	<array>
		<dict>
			<key>name</key>
			<string>Settings</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>iCloud</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Sound</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Notification</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Else</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Task</key>
	<array>
		<dict>
			<key>name</key>
			<string>Project Info</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Task</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Project</string>
					<key>change</key>
					<array>
						<string>Client</string>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Client</string>
					<key>clear</key>
					<array>
						<string>Project</string>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>name</key>
					<string>Color</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Planning Time</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>Start</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>End</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>TaskEdit</key>
	<array>
		<dict>
			<key>name</key>
			<string>Project Info</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Task</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Project</string>
					<key>change</key>
					<array>
						<string>Client</string>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Client</string>
					<key>clear</key>
					<array>
						<string>Project</string>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>name</key>
					<string>Color</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Done</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Planning Time</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>Start</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>name</key>
					<string>End</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Project</key>
	<array>
		<dict>
			<key>name</key>
			<string>Information</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Name</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Client</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Client</key>
	<array>
		<dict>
			<key>name</key>
			<string>Information</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Name</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>E-mail</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Skype</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Phone</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Notes</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
