<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newProject</key>
	<array>
		<dict>
			<key>name</key>
			<string>Project Info</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>name</key>
					<string>Task</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Project</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Client</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Color</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>name</key>
					<string>Billeble</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Planning Time</string>
			<key>cells</key>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Date</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Start</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>name</key>
					<string>Finish</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
